AI3003-Programming Assignments (1).pdf
krr-language-specification-v5.3.pdf
try6.pl
try2.pl
try3.pl
try4.pl
predicateRels1.txt
predicateRels2.txt
krr.ipynb
family_graph.txt
prologImplementation.ipynb
python_try1.ipynb